<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0AxDXBnFuTX9RJn1bl6k6XfIh23pPiQk</string>
	<key>GCM_SENDER_ID</key>
	<string>1082816030637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cubeOff</string>
	<key>PROJECT_ID</key>
	<string>cubing-b1061</string>
	<key>STORAGE_BUCKET</key>
	<string>cubing-b1061.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082816030637:ios:8049efc1d7b40afa4b2324</string>
</dict>
</plist>